@font-face {
    font-family: NeueMachinaUltraBold;
    src: url(../../../fonts/NeueMachina-Ultrabold.otf) format("opentype");
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: CosmosMedium;
    src: url(../../../fonts/Cosmos-Medium.woff) format("woff");
    font-weight: normal;
    font-style: normal;
  }

.NewSection {
  padding-top: 5em;
  font-size: 23px;
  font-weight: 700;
  width: 790px;
  padding-left: 8rem;
  padding-bottom: 5rem;
}

.NewSection h1 {
  line-height: 60px;
}
.NewSection p {
  width: 620px;
  padding-top: 40px;
}